<ul class="list-group">
    <li class="list-group-item">
        <a class="text-decoration-none d-flex align-items-center" asp-area="" asp-controller="RessourceModels" asp-action="Index">
            <i class="bi bi-folder-fill me-2 text-primary"></i>
            Gestion des Ressources
        </a>
    </li>
    <li class="list-group-item">
        <a class="text-decoration-none d-flex align-items-center" asp-area="" asp-controller="UserModels" asp-action="Index">
            <i class="bi bi-people-fill me-2 text-success"></i>
            Gestion des utilisateurs
        </a>
    </li>
    <li class="list-group-item">
        <a class="text-decoration-none d-flex align-items-center" asp-area="" asp-controller="CommentaireModels" asp-action="Index">
            <i class="bi bi-chat-left-text-fill me-2 text-warning"></i>
            Gestion des commentaires
        </a>
    </li>
</ul>